:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1470px;
    height: 800px;
    margin: 0 auto;
    background: url(Main\ BG.jpg)
      no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .rectangle {
    position: relative;
    width: 499px;
    height: 800px;
    margin: 0 0 0 434px;
    font-size: 0px;
    background: rgba(255, 255, 255, 0.7);
    overflow: visible auto;
  }
  .hi-csnian {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 362px;
    height: 78px;
    margin: 209px 0 0 68px;
    color: rgba(0, 0, 0, 0.8);
    font-family: Montserrat, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    white-space: nowrap;
    z-index: 7;
  }
  .tap-destination {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 440px;
    height: 29px;
    margin: 3px 0 0 29px;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    white-space: nowrap;
    opacity: 0.8;
    z-index: 8;
  }
  .rectangle-1 {
    position: relative;
    width: 367px;
    height: 90px;
    margin: 41px 0 0 66px;
    cursor: pointer;
    background: #23d3d0;
    border: 1px solid #000000;
    z-index: 2;
    border-radius: 62.5px;
  }
  .faculty {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 298px;
    height: 78px;
    top: 5px;
    left: 34px;
    color: #ffffff;
    font-family: Montserrat, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-2 {
    position: relative;
    width: 367px;
    height: 90px;
    margin: 43px 0 0 67px;
    cursor: pointer;
    background: #74a74c;
    border: 1px solid #000000;
    z-index: 4;
    border-radius: 62.5px;
  }
  .parent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 272px;
    height: 78px;
    top: 5px;
    left: 47px;
    color: #ffffff;
    font-family: Montserrat, var(--default-font-family);
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .csn-online-services {
    position: relative;
    width: 353px;
    height: 55px;
    margin: 55px 0 0 76px;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
    z-index: 9;
  }
  .online-services {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
  }
  .csn {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
  }
  .online-services-3 {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
  }
  .terms-of-use {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
    text-decoration: underline;
  }
  .online-services-4 {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
  }
  .privacy-statement {
    position: relative;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.066px;
    text-align: center;
    text-decoration: underline;
  }
  .ellipse {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 33px;
    left: 165px;
    background: rgba(255, 255, 255, 0.7);
      no-repeat center;
    background-size: cover;
    z-index: 1;
    border-radius: 50%;
  }
  .picsart {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 40px;
    left: 177px;
    background: url(CSN\ logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 6;
  }
  